//
// Do any local configuration here
//

zone "{{ domain }}" IN {
    type slave;
    file "db.{{ domain }}";
    masters { {{ master_ip4addr }}; };
    allow-transfer { none; };
};

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";
