//
// Do any local configuration here
//

acl "slave" { {{ slave_ip4addr }}; };

zone "{{ domain }}" IN {
	type master;
	file "db.{{ domain }}";
    allow-transfer { "slave"; };
    allow-update { none; };
};

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";
