//
// Do any local configuration here
//

zone "{{ domain }}" IN {
	type master;
	file "db.{{ domain }}";
};

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";
