
module(load="imuxsock")
module(load="imklog")

module(load="imudp")
input(type="imudp" port="514")

$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat
$FileOwner root
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022
$WorkDirectory /var/spool/rsyslog
$IncludeConfig /etc/rsyslog.d/*.conf

$template   Rkern,"/var/log/remote/%HOSTNAME%/kern.log"
$template   Ruser,"/var/log/remote/%HOSTNAME%/user.log"
$template   Rmail,"/var/log/remote/%HOSTNAME%/mail.log"
$template   Rdaemon,"/var/log/remote/%HOSTNAME%/daemon.log"
$template   Rauth,"/var/log/remote/%HOSTNAME%/auth.log"
$template   Rsyslog,"/var/log/remote/%HOSTNAME%/syslog.log"
$template   Rlpr,"/var/log/remote/%HOSTNAME%/lpr.log"
$template   Rnews,"/var/log/remote/%HOSTNAME%/news.log"
$template   Rcron,"/var/log/remote/%HOSTNAME%/cron.log"
$template   Rlocal,"/var/log/remote/%HOSTNAME%/local.log"

kern.*                  ?Rkern
user.*                  ?Ruser
mail.*                  ?Rmail
daemon.*                ?Rdaemon
auth,authpriv.*			?Rauth
syslog.*                ?Rsyslog
lpr.*                   ?Rlpr
news.*                  ?Rnews
cron.*                  ?Rcron
local0,local1,\
local2,local3,\
local4,local5,\
local6,local7.*         ?Rlocal
