//
// Do any local configuration here
//

include "{{ dns_key_file_path }}";

{% for domain in dns_domains %}
zone "{{ domain.name }}" IN {
    type {{ domain.type }};
    file "{{ domain.file }}";
    allow-transfer { key "{{ domain.key }}"; };
    allow-update { none; };
};

{% endfor %}

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

