[Unit]
Description=Internet domain name server
After=network.target

[Service]
ExecStart=/usr/bin/named -4 -f -u named -t "{{ bind_chroot_dir }}"
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
